<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campgrounds</title>
  </head>
  <body>
    <h1>All Campgrounds</h1>
    <ul>
      <% campgrounds.forEach(data => { %>
      <li><a href="/campgrounds/<%= data.id %>"><%= data.title %></a></li>
      <% }) %>
    </ul>
    <br />
    <a href="/campgrounds/new">New Campground</a>
  </body>
</html>
