<!-- POSSIBLE WITH EJS MATE -->
<%- layout('layouts/boilerplate') %>
<h1>Campgrounds</h1>
<ul>
  <% campgrounds.forEach(data => { %>
  <li><a href="/campgrounds/<%= data.id %>"><%= data.title %></a></li>
  <% }) %>
</ul>
<br />
